extends layout

block content
  h1= title

  h5 #{category.name}

  p Items: 

  ul 
    for item in category_items 
        li 
            a(href=item.url) #{item.name}, 
            | $#{item.price}

  hr
  p 
    a(href=category.url+'/delete') Delete Category 
  p 
    a(href=category.url+'/update') Update Category