extends layout

block content
  h1= title
  p Welcome to #[em Inventory Application!], a nice way to track all your store goods.

  h1 Dynamic content 

  p #{data}
  p hello !{data[item_count]}

  if error 
    p Error getting dynamic content 
  else 
   p Your store has the following intem counts: 

   ul 
    li #[strong Items:] !{data.item_count}
    li #[strong Total Item Instances:]  !{data.item_instance_count}
    li #[strong Available Items:] 
    li #[strong Categories:] 
